@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ICollection<CodeUdeC.Areas.Identity.Data.AppUser>

<div class="text-center">
    <h4 class="display-4">Usuarios</h4>
    @if(Model !=null && Model.Any()){

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        </td>

                    </tr>
                </tbody>
            }    
        </table>
    }
</div>